.main{
  background-color:hsl(30, 38%, 92%);
}
.text{
  height: 29rem;
  width:18.625rem;
  margin:6rem auto 0 40.5rem;
  background-color: white;
  border-radius:0 1rem 1rem 0;
}
.image{
  height: 29rem;
  width:18.625rem;
  position: absolute;
  left:23rem;
  border-radius:1rem 0 0 1rem;
}
.para{
  position:relative;
  top: 30px;
  left:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 12px;
}
.para1{
  position: relative;
  top: 25px;
  left:30px;
  font-family: 'Fraunces', serif;
  color: hsl(212, 21%, 14%);
  text-align: left;
}
.para2{
  position:relative;
  top: 30px;
  left:30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  text-align: left;
  line-height: 1.5;
}
.price{
  position: relative;
  top: 35px;
  left:30px;
  font-family: 'Fraunces', serif;
  color: hsl(158, 36%, 37%);
  text-align: left;
  display: inline-block;
}
.old-price{
  position:relative;
  top: 29px;
  left:43px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: hsl(228, 12%, 48%);
  font-size: 14px;
  display: inline-block;
}
.btn{
  position:relative;
  top: 40px;
  left:33px;
  border: 0;
  background-color:hsl(158, 36%, 37%);
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 14px;
  padding: 10px 60px 10px 60px;
}
.btn:hover{
  background-color:  hsl(158, 20%, 20%);
}
